{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--inicio do bloco titulo -->
	<title>
		{% block title %}
			
		{% endblock title %}
	</title>
	<!--fim do bloco titulo -->

	<!--carregando o css -->
	{% bootstrap_css %}
	<link rel="stylesheet" href="{% static 'custom_styles.css' %}">
	
	{% block css_local %}
	{% endblock %}
</head>
	
	<!--bloco de conteudos -->
	{% block content %}
	{% endblock %}
	<!--fim bloco de conteudos -->

	<!--carregando o js -->
	{% bootstrap_javascript jquery='full' %}
	
	{% block js_local %}
	
	{% endblock %}
<body>

</body>
</html>